@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.header-main-sub {
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


h1 {
  margin: 2rem;
  text-align: center;
  font-weight: bolder;
}

#buttonGrid {
  border: 1rem solid rgba(0, 0, 130, 0);
  background: transparent;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 1rem;
  border-radius: 5px;
}

#send-all-button{
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 35px;
  font-family: 'Segoe UI', sans-serif;

}

#send-all-button:hover{
  cursor: pointer;
}
.board {
  border: 1rem solid rgba(0, 0, 130, 0);
  background: transparent;
  width: 700px;
  height: 700px;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 1rem;
  border-radius: 5px;
}

.myboard {
  border: 1rem solid darkblue;
  background: darkblue;
  width: 700px;
  height: 700px;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 1rem;
}
.squares {
  background: gainsboro;
  border: none;
  font-size: 2rem;
  /* font-weight: 800; */
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.squares2 {
  background: gainsboro;
  border: none;
  font-size: 2rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}
.X {
  color: black;
}
.O {
  color: red;
}
.O-hitted {
  color: greenyellow;
}

.Hit {
  background: red;
}
.NotHit {
  background: pink;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}
h2{
  color: black;
}
h3 {
  padding: 1rem;
}
h4 {
  color: whitesmoke;
  padding: 0.3rem;
}

li {
  list-style: none;
}
del {
  text-decoration: line-through;
  background-color: red;
  color: #555;
}
.info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.1rem;
  margin: 0.5rem 1rem;
}

h5 {
  text-align: right;
  color: tomato;
  padding: 0.5rem;
  font-size: large;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 15px;
}
#yesterday {
  border-bottom-left-radius: 15px;
}

#tomorrow {
  border-bottom-right-radius: 15px;
}

.card {
  display: grid;
  grid-template-areas: "image" "text" "change" "stats";

  font-family: roboto;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 100px;
}

h2 {
  margin-bottom: 10px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 110%;
  box-shadow: inset 0 0 15px 0px #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.card-text {
  z-index: 1;
  grid-area: text;
  margin: 10px;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 15px;
}

.card-text p {
  color: gray;
  font-size: 20px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  color: white;
}

.card-stats .type {
  font-size: 30px;
  font-weight: 300;
}

.card-stats .value {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}

.card-stats .border {
  border-right: 1px solid rgb(172, 26, 87);
  border-left: 1px solid rgb(172, 26, 87);
}

.card-stats .value sup {
  font-size: 12px;
}

.card:hover #sign_img {
  transform: scale(1.1);
  opacity: 1;
}

.card:hover .card-image {
  background-size: 100%;
}

.card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

#sign_img {
  max-width: 100%;
  z-index: 0;
  height: auto;
  transition: 0.5s ease;
  transform: scale(0.9);
  opacity: 0.8;
}

.overlay {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.5s ease;
}

.clicked {
  box-shadow: inset 0 0 5px 0px #000000;
}

.change_sign {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
}

#yesterday {
  border-bottom-left-radius: 15px;
}

#tomorrow {
  border-bottom-right-radius: 15px;
}

@media (max-width: 800px) {
  #card {
    grid-template-columns: 90vw;
    grid-template-rows: 30vh 25vh 5vh 10vh;
  }
  .card-text #text {
    font-size: 20px;
  }

  .card-stats .stat .value {
    font-size: 20px;
  }

  .card-stats .stat .type {
    font-size: 20px;
  }

  #change {
    font-size: 20px;
  }

  #sign_img {
    transform: scale(1.3);
  }
}

@media (max-width: 770px) {
  .card {
    grid-template-columns: 85vw;
    grid-template-rows: 25vh 25vh 5vh 12vh;
  }
}

@media (max-width: 375px) {
  #card {
    grid-template-columns: 90vw;
    grid-template-rows: 30vh 25vh 5vh 10vh;
  }
  .card-text #text {
    font-size: 17px;
  }

  .card-stats .stat .value {
    font-size: 10px;
  }

  .card-stats .stat .type {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  #card {
    grid-template-columns: 90vw;
    grid-template-rows: 30vh 25vh 5vh 10vh;
  }
  .card-text #text {
    font-size: 15px;
  }

  .card-stats .stat .value {
    font-size: 10px;
  }

  .card-stats .stat .type {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .card-text #card_sign {
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  #card {
    grid-template-rows: 30vh 35vh 5vh 10vh;
  }
  .card-stats .stat .type {
    font-size: 10px;
  }
  .card-stats .stat .value {
    font-size: 12px;
  }
}

@media (max-height: 360px) {
  #card {
    grid-template-rows: 0vh 60vh 7vh 15vh;
  }
  .card img {
    display: none;
  }
  .card-stats .stat .type {
    font-size: 10px;
  }
  .card-stats .stat .value {
    font-size: 12px;
  }
}

@media (max-height: 375px) {
  #card {
    grid-template-rows: 0vh 50vh 7vh 17vh;
  }
  .card img {
    display: none;
  }
  .card-stats .stat .type {
    font-size: 10px;
  }
  .card-stats .stat .value {
    font-size: 12px;
  }
}

@media (max-height: 768px) {
  .card {
    grid-template-columns: 80vw;
    grid-template-rows: 30vh 25vh 5vh 10vh;
  }
  .card-text p {
    font-size: 15px;
  }

  .card-stats .type {
    font-size: 10px;
  }
}

@media (max-height: 667px) {
  .card {
    grid-template-columns: 80vw;
    grid-template-rows: 25vh 30vh 5vh 10vh;
  }
  .card-text p {
    font-size: 15px;
  }
  .card-stats .type {
    font-size: 10px;
  }

  .card-stats .value {
    font-size: 12px;
  }

  #card_sign {
    font-size: 22px;
    text-transform: uppercase;
  }
}

@media (max-height: 414px) {
  #card {
    grid-template-columns: 90vw;
    grid-template-rows: 0vh 45vh 10vh 20vh;
  }
  .card img {
    display: none;
  }
  .card-stats .type {
    font-size: 15px;
  }

  .card-stats .value {
    font-size: 15px;
  }
}

.select-sign {
  font-size: 20px;
  color: white;
}

#card_sign {
  text-transform: uppercase;
}